*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.card{
    width: 100vw;
    height: 100vw;
    padding: 30px 100px;
    &-top{
        display: flex;
        justify-content: center;
        align-items: center;
        &--right{
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            h3{
                font-size: 36px;
                text-align: left;

            }
            p{
                width: 60%;
            }
        }

        &--left{
            width: 100%;
            img{
                width: 400px;
            }
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        
        &-left{
            img{
                width: 232px;
                height: 203px
            }
        }

        &--right{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &--cards{
                h4{
                    font-family: Roboto;
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                p{
                    width: 80%;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }
        }
    }
}


@media(max-width:1024px){
    .card{
        padding: 30px 50px;
        &-top{
            &--right{
                p{
                    width: 100%;
                }
               
            }
            &--left{
                
                img{
                    width: 300px;
                }
            }
        }
        &-bottom{
            &-left{
                img{
                    width: 180px;
                    height: 150px
                }
            }
            &--right{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                &--cards{
                    h4{
                        
                        font-size: 18px;
                        
    
                    }
                    p{
                       
                        font-size: 14px;
                       
    
                    }
                }
            }
        }
    }
}

@media(max-width:768px){
    .card{
        &-top{
            flex-direction: column;
            gap: 30px;
            &--right{
                justify-content: center;
                align-items: center;
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            &--left{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 200px;
                }
              
            }
        }
        &-bottom{

            &-left{
                display: none;
            }
            &--right{
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                h4{
                    text-align: center;
                }
                p{
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}
